h1{text-align: center;
   font-size: 40px;}
.attention{
   margin: 25px auto;
   width: 800px;
   background-color: #ffffff;
   text-align: center;
   padding: 0.5em 1m;
   border: double 6px #ffff00;
}

.index{
   margin:25px auto;
   padding: 0.5em 1em;
   color: #000000;
   background: rgb(200,200,200);
   border: double 7px #00fffff;
}

